@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    background-color: #cdfaf5;
}

.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card-body {
    background-color: #B0C4DE;
}

.number {
    background-color: #F0FFFF;
    color: black;
}

.operation, .clear {
    background-color: #FFFFE0;
    color: black;
}

.log {
    width: 100%;
    height: 100px;
    font-family: 'Work Sans', sans-serif;
}

.story {
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
}