.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card-body {
    background-color: #D5D5D5;
}

.number {
    background-color: #c0d0f0;
    color: black;
}

.operation, .clear {
    background-color: #ECEABE;
    color: black;
}

.log {
    width: 308px;
    height: 100px;
}

.story {
    margin-top: 10px;
    margin-bottom: 5px;
}